.row{
    display: flex;

}

.row>*{
    display: flex;
    background-color: lightblue;
    margin: 10px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.col{
    
    flex:1;
    
}

.col-2{
    flex:2;
    
}

.col-3{
    flex:3;
}